.QuinielaDetails-teamlogo{
    text-align: right;
    padding-right: 10px;
}
.QuinielaDetails-teamlogo img{
    max-height: 200px !important;
    filter: drop-shadow(3px 3px 5px #000);
}
.QuinielaDetails-teamname{
    color: white;
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    padding-top: 50px;
}
.QuinielaDetails-text{
    color: white;
    font-weight: 15px;
    line-height: 15px;
    padding-top: 5px;
}

.QuinielaDetails-tabs{
    margin-top: 50px;
}
.QuinielaDetails-tabs ul{
    border-bottom: none;
}
.QuinielaDetails-tabs ul li.nav-item button{
    color: white;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0px !important;
    border-bottom: none;
}
.QuinielaDetails-tabs ul li.nav-item button:hover{
    background-color: rgba(60, 154, 236, .75);
    border: none;
}
.QuinielaDetails-tabs ul li.nav-item button.active{
    color: white;
    text-transform: uppercase !important;
    font-weight: 700;
    margin-bottom: 0px !important;
    border: none;
    background-color: rgba(0, 0, 0, .35);
}
.QuinielaDetails-tabs ul li.nav-item button.active:hover{
    background-color: rgba(0, 0, 0, .35);
    border: none;
}

.QuinielaDetails-tabs .tab-pane{
    background-color: rgba(0, 0, 0, .35);
    border: none;
    font-size: 14px;
    text-align: justify;
    padding: 40px 40px 10px 40px;
    margin-top: -17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.QuinielaDetails-tabs-title{
    color:white;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 2px #000);
    margin-bottom: 30px;
}

.QuinielaDetails-tabs .tab-content a{
    text-decoration: none !important;
    color: black;
}