.UserQuinielaAdd-stepper{
    padding-bottom: 30px;
}
.UserQuinielaAdd-stepper text.MuiStepIcon-text{
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    font-weight: 700;
}
.UserQuinielaAdd-stepper span.MuiStepLabel-label{
    font-size: 12px;
    color: white;
}